<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" userInstalled="true" />
  <package id="SharpDX" version="3.0.0-alpha02" targetFramework="net45" userInstalled="true" />
  <package id="SharpDX.Desktop" version="3.0.0-alpha02" targetFramework="net45" userInstalled="true" />
  <package id="SharpDX.Direct2D1" version="3.0.0-alpha02" targetFramework="net45" userInstalled="true" />
  <package id="SharpDX.DirectInput" version="3.0.0-alpha02" targetFramework="net45" userInstalled="true" />
  <package id="SharpDX.DXGI" version="3.0.0-alpha02" targetFramework="net45" userInstalled="true" />
  <package id="SharpDX.Mathematics" version="3.0.0-alpha02" targetFramework="net45" userInstalled="true" />
</packages>